/* mystyle.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eeb553;
    text-align: center;
}

header {
    background-color: #e10f0f;
    color: rgb(255, 255, 255);
    padding: 10px;
}

img, video {
    display: block;
    max-width: 300px;
    height: auto;
}

section {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


@media (max-width: 360px) {
    body {
        font-size: 14px;
    }

    header {
        padding: 8px; 
    }

    img, video {
        max-width: 100%;
    }

    section {
        padding: 10px;
        max-width: 100%;
    }
}

@media (min-width: 361px) and ((max-width: 760px)) {
    body {
        font-size: 20px;
    }

    header {
        padding: 10px; 
    }

    img, video {
        max-width: 100%;
    }

    section {
        padding: 10px;
        max-width: 100%;
    }
}