body {
    font-family: 'Arial', sans-serif;
    background-color: #eef2f3;
    margin: 0;
    padding: 0;
}

header {
    background-color: #c25d32;
    color: white;
    padding: 15px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

.content {
    width: 80%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.content h2 {
    font-size: 2em;
    color: #333;
}

.content p {
    font-size: 1.2em;
    color: #666;
    line-height: 1.6em;
}